<!-- views/footer.html -->
<footer class="footer text-center py-3">
    <p>&copy; 2024 Willyara Amorim. Todos os direitos reservados.</p>
    <div class="social-icons">
        <a href="https://www.instagram.com/" target="_blank"><img src="images/instagram.svg" alt="Instagram" width="30"></a>
        <a href="https://twitter.com/" target="_blank"><img src="images/twitter.svg" alt="Twitter" width="30"></a>
        <a href="mailto:example@example.com"><img src="images/email.svg" alt="Email" width="30"></a>
    </div>
</footer>
