<!-- views/frasesCarousel.html -->
<div id="frasesCarousel" class="carousel slide" data-bs-ride="carousel" ng-controller="FrasesCarouselController">
    <div class="carousel-inner text-center">
        <div class="carousel-item" ng-class="{'active': $index === 0}" ng-repeat="frase in frases">
            <p class="carousel-text">{{ frase }}</p>
        </div>
    </div>
    <a class="carousel-control-prev" href="#frasesCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#frasesCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
